In [7]:
import os
import glob
import ntpath
import pandas as pd
import numpy as np
import xml.etree.ElementTree

In [3]:
def path_leaf(path):
    head, tail = ntpath.split(path)
    return tail or ntpath.basename(head)

In [16]:
path = 'D:\\Machine Learning\\Datasets\PAN 18 Author Profiling\\pan18-author-profiling-test-2018-03-20\\en\\text'
dict_data = {}
for filename in glob.glob(os.path.join(path, '*.xml')):
    name = path_leaf(filename)[:-4]
    dict_data[name] = None
    root = xml.etree.ElementTree.parse(filename).getroot()
    for child in root[0]:
        if not dict_data[name]:
            dict_data[name] = child.text
        else:   
            dict_data[name] = dict_data[name] + ' <eot> ' + child.text

In [35]:
main_path = 'D:\\Machine Learning\\Datasets\PAN 18 Author Profiling\\pan18-author-profiling-test-2018-03-20'
labels = pd.read_csv(os.path.join(main_path,'en.txt'),
                     sep=':::',header=None,
                     names=['identifier', 'gender'])

C:\Users\Simeon\Anaconda3\envs\First\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [38]:
labels.head()

                         identifier  gender
0  e7699c2be46eac7847476236bc0acefb  female
1  100c885443c4d2a32075e10cbca9a27e  female
2   d71555b95edd6a2e0354fe7dc02fa1c  female
3  34b6ccf299874acb979a1a0fa54f9073  female
4  42115c367f542db4442788ee7ae501ce  female

In [40]:
labels['tweet'] = labels.identifier.apply(lambda x: dict_data[x])

In [41]:
labels.head()

,identifier,gender,tweet
0,e7699c2be46eac7847476236bc0acefb,female,My parents are immigrants:Dad a Brit WWII pilo...
1,100c885443c4d2a32075e10cbca9a27e,female,Less than 2 weeks until Valentine's Day https:...
2,d71555b95edd6a2e0354fe7dc02fa1c,female,First month of 2017 done and I have kept up wi...
3,34b6ccf299874acb979a1a0fa54f9073,female,Listening to: Tainsus &amp; Richard Alfaro - K...
4,42115c367f542db4442788ee7ae501ce,female,Thanks to Terry this shiny new toy is on her w...

In [43]:
labels = labels.set_index('identifier')

In [44]:
labels.head()

,gender,tweet
identifier,,
e7699c2be46eac7847476236bc0acefb,female,My parents are immigrants:Dad a Brit WWII pilo...
100c885443c4d2a32075e10cbca9a27e,female,Less than 2 weeks until Valentine's Day https:...
d71555b95edd6a2e0354fe7dc02fa1c,female,First month of 2017 done and I have kept up wi...
34b6ccf299874acb979a1a0fa54f9073,female,Listening to: Tainsus &amp; Richard Alfaro - K...
42115c367f542db4442788ee7ae501ce,female,Thanks to Terry this shiny new toy is on her w...

In [46]:
labels.to_csv('test_tweets_row.csv')